.text-primary {
    color: var(--slidev-theme-primary);
}

.text-variant1 {
    color: var(--slidev-theme-variant1);
}

.text-variant2 {
    color: var(--slidev-theme-variant2);
}

.text-variant3 {
    color: var(--slidev-theme-variant3);
}

.text-variant4 {
    color: var(--slidev-theme-variant4);
}

.text-variant5 {
    color: var(--slidev-theme-variant5);
}

.background-primary {
    background-color: var(--slidev-theme-primary);
}

.background-variant1 {
    background-color: var(--slidev-theme-variant1);
}

.background-variant2 {
    background-color: var(--slidev-theme-variant2);
}

.background-variant3 {
    background-color: var(--slidev-theme-variant3);
}

.background-variant4 {
    background-color: var(--slidev-theme-variant4);
}

.background-variant5 {
    background-color: var(--slidev-theme-variant5);
}

.slidev-layout h1 + p {
    opacity: 1 !important;
}

.slidev-toc {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    > ol {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        list-style-type: none;
        padding: 0;
        margin: 0;

        > li {
            margin: 0;
            padding: 10px 30px;
            border-radius: 10px;
            background-color: rgba(var(--slidev-theme-primaryLightRGB), 0.2);

            > a > div {
                display: flex !important;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;

                svg {
                    @apply text-2xl;
                }
            }

            &:nth-child(1) svg {
                color: var(--slidev-theme-primary);
            }

            &:nth-child(2) svg {
                color: var(--slidev-theme-variant1);
            }

            &:nth-child(3) svg {
                color: var(--slidev-theme-variant2);
            }

            &:nth-child(4) svg {
                color: var(--slidev-theme-variant3);
            }

            &:nth-child(5) svg {
                color: var(--slidev-theme-variant4);
            }

            &:nth-child(6) svg {
                color: var(--slidev-theme-variant5);
            }
        }
    }
}