.color-list ul {
    list-style-type: none !important;
}

.color-list > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-bottom: 40px;
}

.color-list > ul > li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    flex: 1 1;
    border-radius: 10px;

    :nth-child(1) {
        flex: 1 1;
    }

    :nth-child(2) {
        flex: 4 4;
    }

    :nth-child(3) {
        @apply text-sm;
        flex: 4 4;
    }
}

.color-list > ul > li:nth-child(1) {
    background-color: var(--slidev-theme-primary);
}

.color-list > ul > li:nth-child(2) {
    background-color: var(--slidev-theme-variant1);
}

.color-list > ul > li:nth-child(3) {
    background-color: var(--slidev-theme-variant2);
}

.color-list > ul > li:nth-child(4) {
    background-color: var(--slidev-theme-variant3);
}

.color-list > ul > li:nth-child(5) {
    background-color: var(--slidev-theme-variant4);
}

.color-list > ul > li:nth-child(6) {
    background-color: var(--slidev-theme-variant5);
}